<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>A la Carta!</title>
</head>
<body>

   <div class="container">
    <h1>Menu: </h1>
    <div class="row">
        <h2>Normal Dish</h2>
        <ul class="col ist-group list-group-flush">
            <li *ngFor="let dish of normalDish; let i = index" class="list-group-item">
              <div class="card" style="width: 18rem;">
                <img src={{dish.image}} class="card-img-top" alt="100px">
                <div class="card-body">
                  <h5 class="card-title">{{dish.title}}</h5>
                  <button (click)="deleteVeganDish( dish )" type='submit'class="m-10 btn btn-secondary">show details</button>
                  <button (click)="deleteDish( dish )" type='submit'class="btn btn-danger">delete dish</button>
                </div>
            </div>
          </li>
        </ul>
        <div>
          <span>Total Price: {{normalPriceDish}}</span>
          <span>Average Time Ready: {{normalPriceDish}}</span>
          <span>Average Health Score: {{normalHealthScore}}</span>
         </div>
    </div>
  </div>



  <div class="container">
   <h2>Vegan Dish</h2>
   <div class="row">
   <ul class="list-group list-group-flush">
    <li *ngFor="let dish of veganDish; let i = index" class="list-group-item">
      <div  class="card" style="width: 18rem;">
        <img src={{dish.image}} class="card-img-top" alt="100px">
        <div class="card-body">
          <h5 class="card-title">{{dish.title}}</h5>
          <button (click)="deleteVeganDish( dish )" type='submit'class="m-10 btn btn-secondary">show details</button>
          <button (click)="deleteVeganDish( dish )" type='submit'class="btn btn-danger">delete dish</button>
        </div>
      </div>
    </li>
   </ul>
   <div>
    <span>Total Price: {{veganPriceDish}}</span>
    <span>Average Time Ready: {{veganPriceDish}}</span>
    <span>Average Health Score: {{veganHealthScore}}</span>
   </div>
  </div>
  </div>

</body>
</html>