<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>

    <form class="d-flex justify-content-center flex-column" [formGroup]="myForm" (ngSubmit)="onSubmit(myForm)">
        <!-- Email input -->
        <div class="form-outline mb-4">
          <input #email formControlName="email" class="form-control" placeholder="email" />
          <label class="form-label" for="form2Example1">Email address</label>
          <div *ngIf="myForm.get('email')?.invalid && (myForm.get('email')?.dirty || myForm.get('email')?.touched)">
            Please provide a name.
          </div>
        </div>
      
        <!-- Password input -->
        <div class="form-outline mb-4">
          <input #password formControlName="password"  class="form-control" placeholder="password"/>
          <label class="form-label" for="form2Example2">Password</label>
          <div *ngIf="myForm.get('password')?.invalid && (myForm.get('password')?.dirty || myForm.get('password')?.touched)">
            Messages must be at least 8 characters long.
          </div>
        </div>
      
        <!-- Submit button -->
        <button type="submit" class="btn btn-primary btn-block mb-4 " [disabled]="myForm.invalid" >Send</button>
      </form>
    
</body>
</html>